#selectLocale {
  max-width: 200px;
  .dropdown {
    background: #2a2f3b;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    .menu{
      text-align: left;

      p {
        border-top-color: white;
        width: 100%;
      }
    }
  
  }

  .caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
  }
}
