$color-accent: #00BD9D;

.card {
  width: 100%;
  aspect-ratio: 9/16;
  perspective: 100rem;
  position: relative;


  &__side {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 700ms ease;
    backface-visibility: hidden;
    img{
      width: 100%;
    }
    &--front {
      background-color: #00BD9D;
    }
    
    &--back {
      
      background-color: #525B6B;
      transform: rotateY(180deg);
      overflow: scroll;
      p{
        padding: 2rem;
       
      }
    }
  }
  
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  
  &:hover &__side--back {
    transform: rotateY(0);
  }
}
