#contactForm {
  .textarea {
    min-height: 100px;
    font-family: "Roboto";
    box-sizing: border-box;
    cursor: text;
    border: none;
    font-size: 16px;
    resize: vertical;
  }
  .success {
    color: rgba(34, 227, 111, 0.97);
  }
  .fail {
    color: red;
  }
  input[type="email"] {
    border: none;
    cursor: text;
    font-size: 16px;
    padding-left: 16px;
  }
  input[type="text"] {
    cursor: text;
    font-size: 16px;
    padding-left: 16px;
    border: none;
  }

  
}
