@import "../../App.scss";

#navBar {
  background-color: $primary;
  height: 110px;
  width: 100%;
  .languageSwitch{
    width: 100%;
    background-color: white;
    height: 30px;
    z-index: 9999;
  }
  .baseline{
    align-items: baseline;
  }
  .none{
   text-decoration: none; 
  }
  .navContainer {
   
    height: 80px;
    .line {
      width: 42px;
      height: 4px;
      background-color: $secondary;
      border-radius: 8px;
    }
  }
  .navContent {
    background-color: $primary;
    width: 100%;
    height: 100vh;
    z-index: 9989;
    position: absolute;
    top: 0;
    left: 0;
    .cross {
      position: absolute;
      top: 26px;
      right: 36px;
      width: 26px;
    }
  }
}
