@import "../../App.scss";

#navBar {
  background-color: $primary;
  height: 80px;
  width: 100%;
  .navContainer {
    .line {
      width: 42px;
      height: 4px;
      background-color: $secondary;
      border-radius: 8px;
    }
  }
  .navContent {
    background-color: $primary;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    .cross {
      position: absolute;
      top: 26px;
      right: 36px;
      width: 26px;
    }
  }
}
