@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap";

$primary: #191919;
$secondary: #efefef;
$accent-one: #56e689;
$accent-tow: #558adb;
$accent-three: #c655fa;
$accent-four: #f06953;
$primary-text: #efefef;
$secondary-text: #191919;
$primary-font: "Poppins", sans-serif;
$secondary-font: "Roboto", sans-serif;

@import "./node_modules/blackbox-mit-bdx/index.scss";
